@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Livvic:wght@400;700&display=swap");

.forgot-page {
  background-color: white;
  color: #111827;
  min-height: 100vh;
  font-family: "Livvic", sans-serif;
  position: relative;

  .return-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 10;

    a {
      color: #6b7280;
      text-decoration: none;
      font-size: 0.875rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;

      &:hover {
        color: #4f46e5;
      }
    }
  }

  .forgot-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;
  }

  .logo-section {
    margin-bottom: 0;
    text-align: center;

    img {
      width: 335px;
      height: auto;
      margin: 0 auto;
    }

    h2 {
      margin-top: 0;
      font-size: 2.5rem;
      font-weight: 700;
      color: #111827;
      font-family: "Just Another Hand", sans-serif;
    }
  }

  // Formulaire
  .form-container {
    width: 100%;
    max-width: 284px;

    form {
      .form-group {
        margin-bottom: 1.3rem;

        label {
          display: block;
          font-size: 0.9rem;
          font-weight: 500;
          color: #111827;
          margin-bottom: 0.2rem;
          text-align: center;
        }

        input {
          margin-top: 0.5rem;
          display: block;
          width: 100%;
          border-radius: 1rem;
          border: 1px solid #d1d5db;
          background-color: white;
          padding: 0.5rem 0.75rem;
          color: #111827;
          font-size: 0.875rem;

          &:focus {
            outline: none;
            border-color: #3b82f6;
            box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
          }
        }
      }

      .submit-btn {
        display: block;
        margin: 1.5rem auto 0;
        border-radius: 2rem;
        padding: 0.7rem 2rem;
        background-color: #3b82f6;
        color: white;
        font-weight: 500;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #2563eb;
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.3);
        }
      }
    }
  }

  
  @media (max-width: 640px) {
    .return-button {
      top: 1rem;
      left: 1rem;
    }
  }
}
