@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Livvic:wght@400;700&display=swap");

.login-page {
  background-color: white !important;
  color: #111827 !important;
  min-height: 100vh;
  font-family: "Livvic", sans-serif;

  // Override tous les styles globaux
  * {
    color: #111827 !important;
  }

  // Container principal centré
  .login-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;
  }

  .logo-section {
    margin-bottom: O;
    text-align: center;

    img {
      width: 335px;
      height: auto;
      margin: 0 auto;
    }

    h2 {
      margin-top: 0;
      font-size: 2.5rem;
      font-weight: 700;
      color: #111827 !important;
      font-family: "Just Another Hand", sans-serif;
    }
  }

  // Formulaire
  .form-container {
    width: 100%;
    max-width: 284px;

    form {
      .form-group {
        margin-bottom: 1.3rem;

        label {
          display: block;
          font-size: 0.9rem;
          font-weight: 500;
          color: #111827 !important;
          margin-bottom: 0.2rem;
          text-align: center;
        }

        input {
          margin-top: 0.5rem;
          display: block;
          width: 100%;
          border-radius: 1rem;
          border: 1px solid #d1d5db;
          background-color: white;
          padding: 0.5rem 0.75rem;
          color: #111827 !important;
          font-size: 0.875rem;

          &:focus {
            outline: none;
            border-color: #3b82f6;
            box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
          }
        }
      }

      .password-section {
        .forgot-link {
          display: block;
          text-align: right;
          justify-content: space-between;
          margin-bottom: 0.5rem;

          a {
            font-size: 0.875rem;
            color: #3b82f6 !important;
            text-decoration: none;

            &:hover {
              color: #2563eb !important;
            }
          }
        }
      }

      .submit-btn {
        display: block;
        margin: 1.5rem auto 0;
        border-radius: 2rem;
        background-color: #3b82f6;
        padding: 0.7rem 2rem;
        color: white !important;
        font-weight: 500;
        border: none;
        cursor: pointer;
        margin-top: 1.5rem;

        &:hover {
          background-color: #2563eb;
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.5);
        }
      }
    }

    .register-link {
      margin-top: 1.5rem;
      text-align: center;
      font-size: 0.875rem;
      color: #6b7280 !important;

      a {
        font-weight: 500;
        color: #3b82f6 !important;
        text-decoration: none;

        &:hover {
          color: #2563eb !important;
        }
      }
    }
  }
}
